<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBNe8uBH-sZgW9tZ-Q1m2am_puvlYQ70Mw</string>
	<key>GCM_SENDER_ID</key>
	<string>486068714741</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.lushApp</string>
	<key>PROJECT_ID</key>
	<string>lush-1a59b</string>
	<key>STORAGE_BUCKET</key>
	<string>lush-1a59b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:486068714741:ios:47d899e50434b81eeed9bc</string>
</dict>
</plist>